.linea-azul{
    height: 6px;
    background: linear-gradient(to right, #3a78b8, #7fb3e6);
}

.linea-invertida{
    background: linear-gradient(to right, #7fb3e6, #3a78b8);
}
.superpuesto {
    position: absolute;
    width: 100px;
    left: 50px;
    top: 200px;
    
}
